In [ ]:
# End to end AI APP

In [ ]:
Step 1: Problem Statement
Prdiction of student placement for placement drive 


Problem Statement Type >> Binary Classification 

Algorithm : 
    
    Logistic Regression 
    KNN
    DT 
    RF
    Adaboost 
    Naive Baye's
    SVM

In [2]:
# Step 2 : Data Gathering

In [5]:
import pandas as pd
import numpy as np 

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn. metrics import accuracy_score

In [6]:
df = pd.read_csv('students_placement.csv')
df

     cgpa   iq  profile_score  placed
0    5.97  106             61       0
1    6.83  113             77       0
2    6.60  110             61       0
3    5.54  113             68       0
4    6.84  102             67       0
..    ...  ...            ...     ...
295  6.44  107             54       0
296  6.09  108             52       0
297  7.68  101             70       1
298  7.00   90             28       1
299  4.79  118             70       0

[300 rows x 4 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cgpa           300 non-null    float64
 1   iq             300 non-null    int64
 2   profile_score  300 non-null    int64
 3   placed         300 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 9.5 KB

In [8]:
x = df.drop('placed',axis=1)
y = df['placed']

In [10]:
y

0      0
1      0
2      0
3      0
4      0
      ..
295    0
296    0
297    1
298    1
299    0
Name: placed, Length: 300, dtype: int64

In [11]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25,random_state=10,stratify=y)

In [12]:
x_train

     cgpa   iq  profile_score
2    6.60  110             61
147  8.11   93             72
10   7.64  102             51
18   7.05   97             62
235  5.12  105             68
..    ...  ...            ...
89   5.83  110             68
131  7.08   95             43
117  7.41  110             57
187  8.54   88             67
217  7.21  104             76

[225 rows x 3 columns]

In [13]:
y_test

11     0
272    0
93     1
94     1
101    0
      ..
199    0
231    0
250    0
121    0
170    0
Name: placed, Length: 75, dtype: int64

In [14]:
log_reg = LogisticRegression()
log_reg.fit(x_train,y_train)

y_pred = log_reg.predict(x_test)

In [15]:
y_pred

array([0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0], dtype=int64)

In [17]:
y_test

11     0
272    0
93     1
94     1
101    0
      ..
199    0
231    0
250    0
121    0
170    0
Name: placed, Length: 75, dtype: int64

In [18]:
score = accuracy_score(y_test,y_pred)
score

0.8933333333333333

In [ ]:
Low bais & Low Variance >> Best Model / Generlaised Model

In [19]:
import pickle 
pickle.dump(log_reg,open('model.pkl','wb'))